<div>
  <h3>Ngrx Demo</h3>
  <div>
    <div>
      <label>First Name: {{(user$|async)?.firstName}} </label>
    </div>
    <div>
      <label>Last Name: {{(user$|async)?.lastName}} </label>
    </div>
  </div>
  <div>
    <label>Count: {{(counter$ | async)?.count}}</label>
    <p>
      <button (click)="increment()"> +1 </button>
      <button (click)="decrement()"> -1 </button>
    </p>
    <p>
      <button (click)="reset()"> Reset </button>
    </p>
  </div>
  <div>
    <form [formGroup]="userForm">
      <label>First Name: 
        <input type="text" formControlName="firstName" />
      </label>
      <label>Last Name: 
        <input type="text" formControlName="lastName" />
      </label>
      <div>
        <button type="button" (click)="updateUser()">Save</button>
      </div>
    </form>
  </div>
  <div>
    <ul>
      <li *ngFor="let item of (trace$ | async)?.traces">
        {{item}}
      </li>
    </ul>
  </div>
</div>